*{
	margin: 0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif;
	}

html, body{
	height: 100%;
	background: url(../img/bg.gif);
}
/*Imagen Portada================================================================*/
.imagen-inicio{
	width: 25%;
	vertical-align: text-top;
	margin-top: 7%;
	padding-bottom: 7%;
	margin-left: 37.5%;
}
.blur {-webkit-filter: blur(1px);filter: blur(1px);}
.brightness {-webkit-filter: brightness(110%);filter: brightness(110%);}
/*ESTILOS DEL MENU LATERAL======================================================*/

#menu-lateral{
	width: 20vw;
	background: #37474F;
	float: left;
	overflow: hidden;
	transition:.2s all;
	position: fixed;
	left: 0px;
	top: 90px;
	height: 100%;
}	

	#menu-lateral>ul{
		position: relative;
		float: left;
		list-style: none;
		margin-top: 20px;
	}

		#menu-lateral li{
			position: relative;
			box-sizing:border-box;
			width: 20vw;
			float: left;
			line-height: 40px;
			color: #fff;
			padding-left: 20px;
			font-size: 14px;
			transition:.1s all;
			list-style: none;
		}

		#menu-lateral li:hover{
			background: rgba(69,90,100,0.6);
			cursor: pointer;
			color: #fff !important;
		}

		.actual{
			background: #455A64;
			cursor: pointer;
			color: #FFF !important;
			font-weight: bold;
		}
 
 #desplegable{
 	display: none;
 	position: relative;
 	background-color: red;
 	width: 100%;
 	height: 100%;
 }
 #desplegable li:hover{
 	background: rgba(69,90,100,1);
 }

 #mostrarMenu:hover >#desplegable{
 	display: block;

 }
ul li a{
	color: white;
	text-decoration: none;
}

  
/*ul#menu ul li a:hover{
 cursor:pointer;
}
  
ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}
  
ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}*/

/*ESTILOS DE LA BARRA SUPERIOR*/

#barra-titulo{
	width: 100%;
	background:#375873;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	float: left;
	height: 60px;
	z-index: 99999999;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,.3);
	border-bottom: 1px solid #2f4a62;
}
	
	.titulo{
		float: left;
		width: 20vw;
		background:rgba(0,0,0,.1);
	}

		.titulo>h1{
			color: #fff;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 1px;
			line-height: 60px;
			margin-left: 10px;
			text-align: center;
		}

	.perfil{
		width: 200px;
		float: right;
		background:rgba(0,0,0,.1);
		cursor: pointer;
	}

		.perfil-nombre{
			color: #fff;
			font-size: 13px;
			font-weight: normal;
			line-height: 60px;
			margin-left: 10px;
			float: left;
			cursor: default;
			white-space: nowrap;
			text-overflow:ellipsis;
			overflow: hidden;
			width: 150px;
			cursor: pointer;
		}

		.perfil-image{
			height: 30px;
			margin-top: 15px;
			width: 30px;
			border-radius: 50%;
			background: #fff;
			float: left;
			margin-left: 10px;
			overflow: hidden;
		}

		#barra-subtitulo{
			width: 100%;
			/*background:;*/
			position: fixed;
			top: 60px;
			left: 0px;
			right: 0px;
			float: left;
			height: 30px;

		}

			.app-titulo{
				/*background: #18b67c;*/
				width: 20vw;
				float: left;
				height: 40px;
				box-shadow: inset 0px -2px 0px 0px red
			}
				.app-titulo>h1{
					color: #fff;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
				}

/*ESTILOS DEL CONTENIDO*/

#contenido{
	background: #fff;
	float: right;
	width: 75vw;
	/*border:1px solid rgba(0,0,0,1);*/
	margin-right: 20px;
	margin-top: 80px;
	padding: 15px;
	box-sizing:border-box;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1);
	border-radius: 2px;
}

	#contenido h1{
		color: #34495e;
		font-size: 35px;
		margin-top: 10px;
		margin-bottom: 10px;
		float: left;
		width: 100%;
	}

	#contenido h2{
			color: #6F7A8C;
			font-size: 25px;
			margin-top: 10px;
			margin-bottom: 10px;
			float: left;
			width: 100%;
	}


	#contenido h3{
			color: #A8ABB2;
			font-size: 20px;
			margin-top: 10px;
			margin-bottom: 10px;
			float: left;
			width: 100%;
	}

	#contenido p{
		float: left;
		text-align: justify;
		color: #31363E;
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#contenido a{
		color: #466BB9;
	}

	#contenido hr{
		border-top:none;
		border-left:none;
		border-bottom: 1px solid #E2E2E2;
		margin-top: 10px;
		margin-bottom: 10px;
	}

/*GRID=============================================================*/

.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12{
	float: left; 
	margin-right: 1%;
	margin-bottom: 10px; 
	box-sizing: border-box;	
}

.div1{ 
	width: 7.33%;
}

.div2{ 
	width: 15.66%;
}

.div3{
 	width: 23.99%;
 } 

 .div4{ 
 	width: 32.33%;
 } 

 .div5{ 
 	width: 40.65%;
 }

 .div6{ 
 	width: 48.98%; 
 } 
 
 .div7{ 
 	width: 57.31%; 
} 
.div8{
	width: 65.64%; 
}

.div9{
 	width: 73.97%; 
 }

.div10{
	width: 82.3%; 
}
.div11{
	width: 90.63%;
}
.div12{
	width:99%;
}

.break{
	float: left;
	width: 100%;
	clear: both;
	/*position: relative;*/
	height: 2px;
}

/*FORMULARIOS======================================================*/

input[type="text"],input[type="password"],input[type="date"],input[type="email"]{
	float: left;
	height: 30px;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid #a8abb2;
	background: #ffffff;
	box-sizing:border-box;
	padding: 5px;
	outline: none;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="email"]:focus{
	outline:0;
	border: 1px solid #35ACA7;
	background: #fff;
}

input[type="text"]:invalid,input[type="password"]:invalid,input[type="date"]:invalid,input[type="email"]:invalid{
	border: 1px solid #c81d30;
}
select{
		float: left;
	height: 30px;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid #a8abb2;
	background: #ffffff;
	box-sizing:border-box;
	padding-top: 0px;
	outline: none;
}
select:invalid{
	border: 1px solid #c81d30;
}
select:focus{
		outline:0;
	border: 1px solid #35ACA7;
	background: #fff;
}
textarea{
	float: left;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid #a8abb2;
	background: #ffffff;
	box-sizing:border-box;
	padding: 5px;
	max-height: 60px;
	min-height: 60px;
	max-width: 100%;
}

textarea:focus{
	outline:0;
	border: 1px solid #35ACA7;
	background: #fff;
}

textarea:invalid{
	border: 1px solid #c81d30;
}

button{
	height: 30px;
	font-size: 15px;
	color: #fff;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	/*text-shadow:0px -1px 0px rgba(0,0,0,.3);*/
	/*box-shadow:	inset 0px -10px 20px rgba(0,0,0,.1);*/
	transition:.2s all;

}

button:hover{
	/*box-shadow:	inset 0px -10px 20px rgba(0,0,0,.2);*/
	opacity: .9;
}
.tituloForm{
	text-align: center;
}
.formularioLog{
	background-color: rgba(255,255,255,.5);
	margin-left: 24%;
	margin-top: 10%;
	height: 59%;
}
.inputForm{
	margin-left: 17%;
}
.escudoForm{
	height: 200px;
	width: 200px;
}
.divEscudoForm{
	margin-top: 5%;
	margin-left: 35%;
}
.botonForm{
	margin-left: 37%;
}
.verde{background:#2ecc71}
.menta{background: #1abc9c}
.azul{background:#3498db}
.rojo{background:#e74c3c}
.morado{background:#af7ac4}
.naranja{background: #e67e22}
.oscuro{background: #34495e}
.claro{background: #A8ABB2; color:#3A4659 !important;text-shadow:0px 0px 0px rgba(0,0,0,.3) !important; }

.pdf{
	background:url(images/file.png) no-repeat;
	float: right;
	height: 26px;
	width: 26px;
	margin-right: 3px;
	margin-bottom: 1px;
}
/*TABLA============================================================*/

table{
	border-collapse: collapse;
}

th{
	text-align: left;
	font-weight: bold;
	color: #3A4659;
	background: #E2E2E2;
	padding: 5px;
}


tr{
	color: #6F7A8C;
}

tr:hover{

}

tr:nth-child(odd){
	background: #F8F8F8;
}

tr:nth-child(even) {
    background: #fff;
}

td{
	padding: 5px;
	border-bottom: 1px rgba(0,0,0,.1);
}
td>input{
	color: #6F7A8C;
	font-size: 16px;
	border: none;
	outline: none;
}

/*FICHAS==========================*/

.ficha{
 	background: #F8F8F8;
 	/*se elimino el alto de la ficha*/
 	border-radius: 3px;
 	border: 1px solid rgba(0,0,0,.1)
}

	.ficha-nombre{
		border-right: 1px solid rgba(0,0,0,.1);
		height: 300px;
		position: relative;
	}

		.ficha-nombre>h1{
			font-size: 23px !important;
			margin: 0px !important;
			margin-top: 20px !important;
			margin-left: 10px !important;
		}

		.ficha-nombre>h2{
			font-size: 15px !important;
			margin: 0px !important;
			margin-top: 0px !important;
			margin-left: 10px !important;
			font-weight: 400;
		}

		.ficha-nombre>img{
			border-radius: 50%;
			max-width: 90%;
			margin-left: 5%;
			margin-top: 20px;
			position: absolute;
    		margin: auto;
    		right: 0;
    		left: 0;
    /* top: 0; */
    		bottom: 0;
		}

	.ficha-info{

	}

		.ficha-info>h1{
			font-size: 23px !important;
			margin: 0px !important;
			margin-top: 20px !important;
			margin-left: 10px !important;

		}

		.ficha-info>h2{
			font-size: 15px !important;
			margin: 0px !important;
			margin-top: 0px !important;
			margin-left: 10px !important;
			font-weight: 400;
		}

		.ficha-info>p{
			font-size: 14px !important;
			margin: 0px !important;
			margin-top: 20px !important;
			margin-left: 10px !important;
			font-weight: 300;
			color: #A8ABB2 !important;
		}
		.imagenficha{
			width: 200px !important;
			height: 200px !important;
			border-radius: 50% !important;
			object-fit: cover;
			display: none;
		}

/*MODALES ==================*/

#bg-negro{
	width: 100%;
	height: 100%;
	float: left;
	position: fixed;
	background: rgba(0,0,0,.5);
	z-index: 999999999;
	transition:.1s all;
	opacity: 0;
	visibility: hidden;
}

#modal{
	float: left;
	position: fixed;
	background: #fff;
	z-index: 999999999999;
	border-radius: 2px;
	top: 50%;
	margin-top: -100px;
	box-shadow: 0px 5px 20px 2px rgba(0,0,0,.5);
	transition:.2s all;
	opacity: 0;
	visibility: hidden;
	-webkit-transform:scale(.9);
	width: 200px;
	left: 50%;
	overflow: hidden;
}

	#modal>h1{
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		color: #34495e;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#modal>p{
		color: #6f7a8c;
		width: 80%;
		float: left;
		margin-left: 10%;
		margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
	}

.chico{
	width: 300px !important;
	margin-left: -150px;	
}

.verModal{
	visibility: visible !important;
	opacity: 1 !important;
	-webkit-transform:scale(1) !important;
}

.grande{
	width: 600px !important;
	margin-left: -300px;
}


/*============================ SUCIO ==============================*/
.margen-izq{
	margin-left: 15px;
}

.ajustar-img{
	max-width: 100%;
}

.prueba{
	background: #A8ABB2;
	height: 30px;
}

.mini{
	color: #626364;
	font-size: 10px;
	margin-left: 20px;
	float: left;
	width: 100%;
	bottom: 100px;
	position: absolute;
}

	.mini>a{
		text-decoration: none;
		color: #626364;
	}

	.mini>a:hover{
		text-decoration: underline;
		color: #818283;
	}

